# IMPORTANDO BIBLIOTECAS

In [2]:
import mysql.connector
import os
import pandas as pd

# IMPORTANDO DF PANDAS

In [3]:
df = pd.read_csv("/home/antonio/dados_jogadores.csv",sep=';')

# VENDO VALORES NULOS

In [4]:
df.isna().sum()

jogador            0
genero             0
data_nascimento    0
jogo               0
pais               0
num_vitorias       8
num_derrotas       5
total_partidas     8
dtype: int64

# VENDO SE OS VALORES NULOS SÃO INCAPACITANTES

In [5]:
df.loc[(df.total_partidas.isnull())&(df.num_derrotas.isnull()),'jogador'].count()

0

# VENDO QUAIS SÃO OS VALORES NULOS

In [6]:
df.loc[(df.total_partidas.isnull())|(df.num_derrotas.isnull())]

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
71,Jogador 72,Masculino,27/03/2005,Dama,Paraguai,29.0,7.0,NaN
86,Jogador 87,Feminino,25/05/1975,Dama,Argentina,80.0,6.0,NaN
246,Jogador 247,Feminino,14/02/1954,Dama,Argentina,33.0,NaN,89.0
255,Jogador 256,Feminino,28/09/2000,Xadrez,Chile,1.0,NaN,73.0
287,Jogador 288,Masculino,01/02/1952,Xadrez,Brasil,3.0,NaN,17.0
336,Jogador 337,Masculino,13/06/1996,Dama,Argentina,36.0,NaN,64.0
407,Jogador 408,Feminino,23/11/1970,Xadrez,Brasil,54.0,28.0,NaN
423,Jogador 424,Masculino,21/08/1998,Dama,Paraguai,47.0,30.0,NaN
453,Jogador 454,Feminino,21/10/2000,Dama,Paraguai,15.0,42.0,NaN
458,Jogador 459,Masculino,17/06/1999,Jogo da velha,Argentina,23.0,50.0,NaN
473,Jogador 474,Feminino,22/10/1977,Xadrez,Uruguai,24.0,4.0,NaN
490,Jogador 491,Masculino,27/05/1981,Dama,Argentina,16.0,1.0,NaN
496,Jogador 497,Masculino,06/01/1962,Jogo da velha,Argentina,57.0,NaN,80.0

# PREENCHENDO OS VALORES NULOS

In [7]:
df.loc[df.total_partidas.isnull(),'total_partidas'] = df.num_vitorias+df.num_derrotas
df.loc[df.num_derrotas.isnull(),'num_derrotas'] = df.total_partidas - df.num_vitorias
df.loc[df.num_vitorias.isnull(),'num_vitorias'] = df.total_partidas - df.num_derrotas

# VERIFICANDO SE OS VALORES NULOS FORAM ALTERADOS

In [10]:
df.isna().sum()

jogador            0
genero             0
data_nascimento    0
jogo               0
pais               0
num_vitorias       0
num_derrotas       0
total_partidas     0
dtype: int64

# GARANTIDO UM PADRÃO DE ESCRITA

In [11]:
df.jogador = df.jogador.str.upper()
df.genero = df.genero.str.upper()
df.jogo = df.jogo.str.upper()
df.pais = df.pais.str.upper()

# VENO O DF RESULTANTE

In [12]:
df

,jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas
0,JOGADOR 1,MASCULINO,03/09/1990,DAMA,CHILE,14.0,0.0,14.0
1,JOGADOR 2,FEMININO,01/05/1986,JOGO DA VELHA,CHILE,39.0,20.0,59.0
2,JOGADOR 3,MASCULINO,04/10/1964,JOGO DA VELHA,BRASIL,26.0,3.0,29.0
3,JOGADOR 4,MASCULINO,28/09/1979,JOGO DA VELHA,ARGENTINA,9.0,72.0,81.0
4,JOGADOR 5,MASCULINO,03/09/1978,DAMA,URUGUAI,1.0,54.0,55.0
...,...,...,...,...,...,...,...,...
494,JOGADOR 495,FEMININO,03/06/1974,DAMA,CHILE,52.0,28.0,80.0
495,JOGADOR 496,MASCULINO,09/02/1959,DAMA,CHILE,13.0,51.0,64.0
496,JOGADOR 497,MASCULINO,06/01/1962,JOGO DA VELHA,ARGENTINA,57.0,23.0,80.0
497,JOGADOR 498,MASCULINO,28/09/1958,JOGO DA VELHA,CHILE,5.0,3.0,8.0
498,JOGADOR 499,FEMININO,08/10/2004,JOGO DA VELHA,PARAGUAI,1.0,86.0,87.0

# VENDO SE EXISTE VALORES DUPLICADOS

In [13]:
df.duplicated().sum()

0

# CONSTRUINDO E POPULANDO O BANCO

1. CRIANDO BANCO DE DADOS

In [ ]:
db_connection = mysql.connector.connect(host='localhost', user='root', password='', database='')
cursor = db_connection.cursor()
sql = "CREATE DATABASE inform_jogos"
cursor.execute(sql)
db_connection.close()

2. CRIANDO TABELA PAIS

In [ ]:
db_connection = mysql.connector.connect(host='localhost', user='root', password='', database='inform_jogos')
cursor = db_connection.cursor()
sql = "CREATE TABLE pais(cod_pais INT PRIMARY KEY AUTO_INCREMENT, nome_pais VARCHAR(45))"
cursor.execute(sql)
db_connection.close()

3. CRIANDO TABELA JOGO

In [ ]:
db_connection = mysql.connector.connect(host='localhost', user='root', password='', database='inform_jogos')
cursor = db_connection.cursor()
sql = "CREATE TABLE jogo(cod_jogo INT PRIMARY KEY AUTO_INCREMENT, nome_jogo VARCHAR(45))"
cursor.execute(sql)
db_connection.close()

4. CRIANDO TABELA JOGADOR

In [ ]:
db_connection = mysql.connector.connect(host='localhost', user='root', password='', database='inform_jogos')
cursor = db_connection.cursor()
sql = "CREATE TABLE jogador(cod_jogador INT PRIMARY KEY AUTO_INCREMENT,\
        nome_jogador VARCHAR(45),\
        genero VARCHAR(45),\
        data_nascimento DATE,\
        num_vitorias INT,\
        num_derrotas INT,\
        total_partidas INT,\
        cod_pais INT,\
        cod_jogo INT\
        )"
cursor.execute(sql)
db_connection.close()

5. CRIANDO AS CHAVES ESTRANGEIRAS

In [ ]:
db_connection = mysql.connector.connect(host='localhost', user='root', password='', database='inform_jogos')
cursor = db_connection.cursor()
sql = "ALTER TABLE jogador ADD FOREIGN KEY (cod_pais) REFERENCES pais (cod_pais)"
cursor.execute(sql)
sql = "ALTER TABLE jogador ADD FOREIGN KEY (cod_jogo) REFERENCES jogo (cod_jogo)"
cursor.execute(sql)
db_connection.close()

6. POPULANDO A TABELA PAIS

In [ ]:
db_connection = mysql.connector.connect(host='localhost', user='root', password='', database='inform_jogos')
cursor = db_connection.cursor()
pais = df['pais'].unique().tolist()
for pa in pais:
    sql = "INSERT INTO pais (nome_pais) VALUES ('{}')".format(pa)
    cursor.execute(sql)
    db_connection.commit()
db_connection.close()

7. POPULANDO A TABELA JOGO

In [ ]:
db_connection = mysql.connector.connect(host='localhost', user='root', password='', database='inform_jogos')
cursor = db_connection.cursor()
pais = df['jogo'].unique().tolist()
for pa in pais:
    sql = "INSERT INTO jogo (nome_jogo) VALUES ('{}')".format(pa)
    cursor.execute(sql)
    db_connection.commit()
db_connection.close()

8. POPULANDO A TABELA JOGADOR

In [44]:
dados = df.values.tolist()
db_connection = mysql.connector.connect(host='localhost', user='root', password='', database='inform_jogos')
cursor = db_connection.cursor()
for jogador,genero,data_nascimento,jogo,pais,num_vitorias,num_derrotas,total_partidas in dados:
    num_vitorias_ = int(num_vitorias)
    num_derrotas_ = int(num_derrotas)
    total_partidas_ = int(total_partidas)
    sql = "SELECT cod_pais FROM pais WHERE nome_pais = '{}'".format(pais)
    cursor.execute(sql)
    pais_cod = cursor.fetchall()
    sql = "SELECT cod_jogo FROM jogo WHERE nome_jogo = '{}'".format(jogo)
    cursor.execute(sql)
    jogo_cod = cursor.fetchall()
    sql = "SELECT DATE_FORMAT(STR_TO_DATE('{}', '%d/%m/%Y'),'%Y/%m/%d')".format(data_nascimento)
    cursor.execute(sql)
    data_nascimento_ = cursor.fetchall()
    sql = "INSERT INTO jogador (nome_jogador,\
            genero,\
            data_nascimento,\
            num_vitorias,\
            num_derrotas,\
            total_partidas,\
            cod_pais,\
            cod_jogo) VALUES ('{}','{}','{}',{},{},{},{},{})".format(jogador,genero,data_nascimento_[0][0],num_vitorias_,num_derrotas_,total_partidas_,pais_cod[0][0],jogo_cod[0][0])
    cursor.execute(sql)
    db_connection.commit()
    
db_connection.close()

# RESPONDENDO AS PERGUNTAS

1. Qual o país que possui a segunda maior média de vitórias? No geral (independente do jogo)

In [74]:
db_connection = mysql.connector.connect(host='localhost', user='root', password='', database='inform_jogos')
cursor = db_connection.cursor()
sql = "SELECT pais.nome_pais, sum(jogador.num_vitorias) FROM pais INNER\
        JOIN jogador ON pais.cod_pais = jogador.cod_pais\
        GROUP BY pais.nome_pais"
cursor.execute(sql)
resp = cursor.fetchall()
sql = "SELECT pais.nome_pais, count(jogador.cod_pais) FROM pais INNER\
        JOIN jogador ON pais.cod_pais = jogador.cod_pais\
        GROUP BY pais.nome_pais"
cursor.execute(sql)
resp_ = cursor.fetchall()
for x,z in zip(resp,resp_):
    print(x[0],z[0],x[1]/z[1])
db_connection.close()

CHILE CHILE 27.8
BRASIL BRASIL 25.34
ARGENTINA ARGENTINA 25.89772727272727272727272727
URUGUAI URUGUAI 23.94382022471910112359550562
PARAGUAI PARAGUAI 22.58196721311475409836065574

2. Qual é a soma de derrotas do Brasil no jogo Xadrez?

In [80]:
db_connection = mysql.connector.connect(host='localhost', user='root', password='', database='inform_jogos')
cursor = db_connection.cursor()
sql = "SELECT pais.nome_pais, sum(jogador.num_derrotas) FROM pais INNER\
        JOIN jogador ON pais.cod_pais = jogador.cod_pais\
        INNER JOIN jogo ON jogador.cod_jogo = jogo.cod_jogo\
        WHERE jogo.nome_jogo = 'XADREZ'\
        GROUP BY pais.nome_pais"
cursor.execute(sql)
resp = cursor.fetchall()
for x in resp:
    print(x)

('BRASIL', Decimal('744'))
('ARGENTINA', Decimal('483'))
('CHILE', Decimal('793'))
('URUGUAI', Decimal('732'))
('PARAGUAI', Decimal('788'))

3. Qual o jogo mais preferido entre as homens?

In [83]:
db_connection = mysql.connector.connect(host='localhost', user='root', password='', database='inform_jogos')
cursor = db_connection.cursor()
sql = "SELECT jogador.genero, jogo.nome_jogo,count(jogo.nome_jogo) FROM pais INNER\
        JOIN jogador ON pais.cod_pais = jogador.cod_pais\
        INNER JOIN jogo ON jogador.cod_jogo = jogo.cod_jogo\
        GROUP BY jogador.genero, jogo.nome_jogo"
cursor.execute(sql)
resp = cursor.fetchall()
for x in resp:
    print(x)

('MASCULINO', 'XADREZ', 84)
('FEMININO', 'XADREZ', 87)
('FEMININO', 'JOGO DA VELHA', 73)
('MASCULINO', 'JOGO DA VELHA', 91)
('MASCULINO', 'DAMA', 74)
('FEMININO', 'DAMA', 90)

4. Qual o jogo que possui o maior  número de partidas

In [86]:
db_connection = mysql.connector.connect(host='localhost', user='root', password='', database='inform_jogos')
cursor = db_connection.cursor()
sql = "SELECT jogo.nome_jogo ,sum(jogador.total_partidas) FROM pais INNER\
        JOIN jogador ON pais.cod_pais = jogador.cod_pais\
        INNER JOIN jogo ON jogador.cod_jogo = jogo.cod_jogo\
        GROUP BY jogo.nome_jogo"
cursor.execute(sql)
resp = cursor.fetchall()
for x in resp:
    print(x)

('DAMA', Decimal('7998'))
('JOGO DA VELHA', Decimal('7795'))
('XADREZ', Decimal('8178'))